$primary-blue : #0B5EAA;
$primary-red : #c9302c;
$font-silver : #a8a8a8;
$font-black : #313131;
$font-standart : #666;
$font-light : #eaeaea;

@mixin transition($a) {
    -moz-transition: $a;
    -o-transition: $a;
    -webkit-transition: $a;
    transition: $a;
  }
  
  $break-small: 480px;
  $break-large: 1367px;

  @mixin respond-to($media) {
      @if $media==small-screens {
          @media only screen and (max-width: $break-small) {
              @content;
          }
      }
      @else if $media==medium-screens {
          @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) {
              @content;
          }
      }
      @else if $media==wide-screens {
          @media only screen and (min-width: $break-large) {
              @content;
          }
      }
  }
  
@mixin absolute-position($a,
  $b,
  $c,
  $d) {
    position: absolute;
    top: $a;
    right: $b;
    bottom: $c;
    left: $d;
  }
  
// PAGE LOGIN

.login-page {
    background: #ffffff;
    background-size: cover;
    position: fixed;
    height: 100%;
    width: 100%;
    .container-fluid {
        height: 100%;
        padding: 0;
        .row {
            height: 100%;
        }
    }
}
.login-box {
    background-color: rgba(255, 255, 255, 0.84);
    height: 100%;
    h4 {
        font-size: 16px;
        font-weight: 500;
    }
    form{
        &.user {
            margin-top: 50px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 80%;
            @include respond-to(small-screens) { 
                width: 100%;
            }
        }
        .form-control {
            background: none;
            color: $font-black;
        }
        .form-control-user {
            border-radius: 0;
            border: none;
            border-bottom: 1px solid rgba(70, 70, 70, 0.712);
            &:focus {
                box-shadow: none;
            }
        }
        .btn-login {
            border-radius: 0;
            background-color: $primary-blue;
            font-size: 15px;
            font-weight: 500;
            &:hover {
                background-color: lighten($primary-blue, 5%);
            }
        }
    }
}
.login-logo {
    position: relative;
    display: block;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
    img {
        margin-left: auto;
        margin-right: auto;
        max-width: 300px;
        display: block;
    }
}


//ALL PAGES
.sidebar-brand {
    img {
        max-width: 160px;
        max-height: 36px;
    }
}
.merchant-logo {
    img {
        margin-top: 15px;
        max-width: 160px;
        max-height: 36px;
    }
}
.bg-gradient-primary {
    background: #ffffff;
}
.sidebar-light {
    .nav-item{
        &.active, &:hover{
            .nav-link {
                border-left: 5px solid $primary-blue;
                background-color: #F5F7F9;
            }
        }
        .nav-link {
            font-size: 16px;
            border-left: 5px solid #fff;
        }
    }
}
h1{
    &.title-page {
        color: $primary-blue;
        border-bottom: 1px solid #cccccc;
    }
}
p {
    &.sub-title-page {
        color: $font-silver;
        font-weight: 300;
        font-size: 12px;
        @include respond-to(medium-screens) { 
            font-size: 11px;
        }
    }
}
 form {
    input, textarea {
        &.form-control{
            font-size: 14px;
        }
    }
    label {
        color: $font-black;
        font-size: 14px;
        font-weight: 600;
        span {
            font-size: 12px;
            font-weight: 300;            
        }
    }
    .btn-form-default {
        background-color: $primary-blue;
        color: $font-light;
        border-radius: 0;
        font-size: 16px;
        padding: 5px 50px;
        &:hover {
            background-color: lighten($primary-blue, 5%);
            color: $font-light;
        }
    }
 }
 .card {
     border-radius: 0;
     border: 2px solid #D1E6F8;
 }
 .open-ticket {
    .card {
        border-radius: 0;
        border: none;
        h3 {
            font-size: 20px;
            font-weight: 600;
            color: $font-black;
            margin-bottom: 30px;
        }
    }
 }
 .card-header {
     background-color: rgba(209, 230, 248, 0.7);
     h6 {
         color: $font-black;
     }
 }
 .card-body {
     h4 {
         margin: 0;
         font-size: 18px;
         font-weight: 600;
         color: $font-black;
     }
     p {
         margin: 0;
         font-size: 14px;
         color: $font-black;
         font-weight: 400;
     }
     &.box-filter {
         padding: 0;
         .header-box-filter {
             padding: 15px;
             background-color: rgb(235, 235, 235);
             p {
                 font-size: 16px;
                 font-weight: 600;
                 color: $font-black;
                 @include respond-to(medium-screens) { 
                    font-size: 14px;
                }
                 i {
                    font-size: 16px;
                    font-weight: 600;
                    color: $font-black;
                    @include respond-to(medium-screens) { 
                        font-size: 14px;
                    }
                 }
             }
         }
         .body-box-filter {
             display: none;
             @include transition(all 0.2s ease-in-out);
             .list-group {
                 border-radius: 0;
                 a {
                    color: $font-black;
                    background-color: #fff;
                     &.list-group-item {
                        padding: 10px 15px;
                        border: none;
                        border-bottom: 1px solid #e6e6e6;
                        font-size: 14px;
                        @include respond-to(medium-screens) { 
                            font-size: 12px;
                        }
                        &:last-child {
                            border-bottom: none;
                        }
                     }
                     &.active, &:hover {
                         background-color: $primary-blue;
                         color: $font-light;
                     }
                 }
             }
         }
     }
 }

 .ticket-list {
     table {
         position: relative;
         width: 100%;
         border: 1px solid #eaeaea;
        thead {
            background-color: $primary-blue;
            color: $font-light;
        }
         tr {
             th {
                 font-size: 14px;
                 @include respond-to(medium-screens) { 
                    font-size: 12px;
                }
             }
             td {
                font-size: 13px;
                @include respond-to(medium-screens) { 
                    font-size: 12px;
                }
                p {
                    font-size: 13px;
                    @include respond-to(medium-screens) { 
                        font-size: 12px;
                    }
                }
                .name{
                    font-weight: 600;
                }
             }
         }
     }
 }

 .priority-status {
     font-size: 12px;
     font-weight: 600;
     &::before {
        content: "\2022";
        margin-right: 6px;
     }
 }

 #detail-ticket {
     .btn-go-back {
         display: block;
         width: 100%;
         padding: 7px;
         text-align: center;
         color: $font-light;
         background-color: $primary-blue;
         margin-bottom: 15px;
         &:hover {
            background-color: lighten($primary-blue, 8%)
         }
     }
     .btn-close-ticket {
         display: block;
         width: 100%;
         padding: 7px;
         text-align: center;
         color: $font-light;
         background-color: $primary-red;
         margin-bottom: 15px;
         &:hover {
            background-color: lighten($primary-red, 8%)
         }
     }
     .card {
            border :1px solid #eaeaea;
         &.t-side-bar {
            .img-closed {
                width: 100%;
                height: 100%;
                z-index: 9999;
                position: absolute;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    opacity: 0.5;
                }
            }
             .card-header {
                 background-color: #d8d8d8;
                 color: $font-black;
                padding: 10px 20px;
                border-radius: 0;
                p {
                    margin: 0;
                }
             }
             .card-body {
                 position: relative;
                 .ticket-status {
                     display: block;
                     margin-top:10px;
                     .badge {
                        font-size: 14px;
                        padding: 5px 10px;
                         margin-right: 20px;
                     }
                     .priority-status {
                         float: right;
                         font-size: 14px;
                     }
                 }
                 .ticket-date {
                     margin-top:10px;
                     p {
                         font-size: 12px;
                         font-weight: 300;
                         span {
                             float: right;
                             font-weight: 600;
                         }
                     }
                 }
                 .ticket-info {
                     margin-top: 10px;
                     padding: 5px 15px;
                     border-bottom: 1px solid #d6d6d6;
                     .label-info {
                         font-size: 12px;
                         font-weight: 400;
                     }
                     .value-info {
                         font-size: 14px;
                         font-weight: 600;
                         color: $font-black;
                     }
                 }
                 .ticket-info-v2 {
                     padding: 0;
                     .label-info {
                         font-size: 12px;
                         font-weight: 400;
                     }
                     .value-info {
                         font-size: 14px;
                         font-weight: 400;
                         color: $font-black;
                     }
                 }
                 .ticket-attactment{
                     padding: 0;
                     .attactment {
                         font-size: 13px;
                         font-weight: 300;
                         display: block;
                         margin-bottom: 10px;
                         white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                         @include respond-to(medium-screens) { 
                            font-size: 12px;
                        }
                         @include respond-to(small-screens) { 
                            font-size: 11px;
                        }
                     }
                     .no-attactment {
                         font-size: 12px;
                         font-weight: 300;
                         color: $font-silver;
                         font-style: italic;

                     }
                 }
             }
         }
         &.t-content {
             margin-bottom: 5px;
             .card-header {
                 padding: 10px;
                 border-radius: 0;
                 .card-inner-header{
                    padding: 5px;
                    display: table;
                    .avatar, .name, .date {
                        display: table-cell;
                        padding-right: 10px;
                        vertical-align: middle;
                    }
                    .avatar {
                        .avatar-inner{
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            overflow: hidden;
                            border: 2px solid #fff;
                            text-align: center;
                            h2 {
                                font-size: 18px;
                                color: $font-standart;
                                display: block;
                                margin: auto;
                                font-weight: 700;
                                margin-top: 7px;
                            }
                            img {
                                display: block;
                                object-fit: cover;
                                max-width: 100%;
                                max-height: 100%;
                            }
                        }
                    }
                    .name {
                        p {
                        font-size: 14px;
                        font-weight: 600;
                        color: $font-black;
                        margin:0;
                        }
                    }
                    .date {
                        p {
                            font-size: 12px;
                            font-style: italic;
                            font-weight: 300;
                            vertical-align: middle;
                            margin:0;
                        }
                    }
                 }

             }
             .card-body {
                 padding-top: 5px;
                 color : $font-black;
                 img {
                     display: block;
                     max-width: 100%;
                 }
             }
             .card-body-inner {
                 .email {
                     margin : 0;
                     font-style: italic;
                     margin-bottom: 15px;
                     font-size: 12px;
                 }
             }
         }
         &.card-admin {
            .card-header {
                background-color: rgba(226, 195, 132, 0.31);
                border: 1px solid  rgba(226, 195, 132, 0.31);
            }
         }
         .btn-reply {
             float: right;
         }
     }

 }

 #profile {
    h3, h4, p, i, a {
        margin : 0;
        padding: 0;
    }
    .avatar-profile {
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 250px;
        height: 250px;
        padding: 5px;
        border-radius: 3px;
        border : 1px solid #eaeaea;
        overflow: hidden;
        @include respond-to(medium-screens) { 
            width: 180px;
            height: 180px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .info-profile {
        .info-p-list {
            display: table;
            width: 100%;
            .label {
                display: table-cell;
                width: 144px;
            }
            .value {
                display: table-cell;
                p {
                    color: $font-black;
                    font-weight: 600;
                }
            }
        }
    }
    h3 {
        margin-bottom: 15px;
    }
    p.role {
        padding: 3px 10px;
        border-radius: 5px;
        font-size: 12px;
        &.owner {
            color: $font-light !important;
            display: inline;
            background-color: #a3a3a3 !important;
        }
    }
    .btn {
        &.btn-edit-p {
            margin-top: 20px;
            display: block;
            width: 100%;
            background-color: $primary-blue;
            color: $font-light;
            border-radius: 0;
            font-size: 16px;
            padding: 5px 50px;
            @include respond-to(medium-screens) { 
                font-size: 13px;
            }
            &:hover {
                background-color: lighten($primary-blue, 5%);
                color: $font-light;
            }
        }
    }
 }


 .tabel-result {
    width: 100%;
    position: relative;
    display: block;
    margin-bottom: 20px;
    .tabel-content {
        @include transition(all 0.2s ease-in-out);
    }
    &.isload {
        .loader {
            z-index: 999;
            display: block;
        }
        .tabel-content {
                filter: blur(5px);
                -webkit-filter: blur(5px);
                opacity: 0.3;
        }
    }
}

.loader {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include transition(all 0.2s ease-in-out);
    .lds-facebook {
        display: inline-block;
        position: relative;
        width: 400px;
        height: 80px;
    }
    .lds-facebook div {
        display: inline-block;
        position: absolute;
        left: 8px;
        width: 16px;
        background:$primary-blue;
        animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    }
    .lds-facebook div:nth-child(1) {
        left: 8px;
        animation-delay: -0.24s;
    }
    .lds-facebook div:nth-child(2) {
        left: 32px;
        animation-delay: -0.12s;
    }
    .lds-facebook div:nth-child(3) {
        left: 56px;
        animation-delay: 0;
    }
    @keyframes lds-facebook {
        0% {
            top: 8px;
            height: 64px;
        }
        50%,
        100% {
            top: 24px;
            height: 32px;
        }
    }
    .lds-ellipsis {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
    }
    .lds-ellipsis div {
        position: absolute;
        top: 33px;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background: $primary-blue;
        animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }
    .lds-ellipsis div:nth-child(1) {
        left: 8px;
        animation: lds-ellipsis1 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(2) {
        left: 8px;
        animation: lds-ellipsis2 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(3) {
        left: 32px;
        animation: lds-ellipsis2 0.6s infinite;
    }
    .lds-ellipsis div:nth-child(4) {
        left: 56px;
        animation: lds-ellipsis3 0.6s infinite;
    }
    @keyframes lds-ellipsis1 {
        0% {
            transform: scale(0);
        }
        100% {
            transform: scale(1);
        }
    }
    @keyframes lds-ellipsis3 {
        0% {
            transform: scale(1);
        }
        100% {
            transform: scale(0);
        }
    }
    @keyframes lds-ellipsis2 {
        0% {
            transform: translate(0, 0);
        }
        100% {
            transform: translate(24px, 0);
        }
    }
    .lds-roller {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
    }
    .lds-roller div {
        animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        transform-origin: 40px 40px;
    }
    .lds-roller div:after {
        content: " ";
        display: block;
        position: absolute;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background: $font-standart;
        margin: -4px 0 0 -4px;
    }
    .lds-roller div:nth-child(1) {
        animation-delay: -0.036s;
    }
    .lds-roller div:nth-child(1):after {
        top: 63px;
        left: 63px;
    }
    .lds-roller div:nth-child(2) {
        animation-delay: -0.072s;
    }
    .lds-roller div:nth-child(2):after {
        top: 68px;
        left: 56px;
    }
    .lds-roller div:nth-child(3) {
        animation-delay: -0.108s;
    }
    .lds-roller div:nth-child(3):after {
        top: 71px;
        left: 48px;
    }
    .lds-roller div:nth-child(4) {
        animation-delay: -0.144s;
    }
    .lds-roller div:nth-child(4):after {
        top: 72px;
        left: 40px;
    }
    .lds-roller div:nth-child(5) {
        animation-delay: -0.18s;
    }
    .lds-roller div:nth-child(5):after {
        top: 71px;
        left: 32px;
    }
    .lds-roller div:nth-child(6) {
        animation-delay: -0.216s;
    }
    .lds-roller div:nth-child(6):after {
        top: 68px;
        left: 24px;
    }
    .lds-roller div:nth-child(7) {
        animation-delay: -0.252s;
    }
    .lds-roller div:nth-child(7):after {
        top: 63px;
        left: 17px;
    }
    .lds-roller div:nth-child(8) {
        animation-delay: -0.288s;
    }
    .lds-roller div:nth-child(8):after {
        top: 56px;
        left: 12px;
    }
    @keyframes lds-roller {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}

.tabel-content {
    display: none;
    @include transition(all 0.2s ease-in-out);
}
.smooth-transition {
    @include transition(all 0.2s ease-in-out);
}

.modal-body {
    .error-msg {
        .hints p, p {
            color: #c9302c;
            font-size: 12px;
            font-weight: 400;
        }
    }
}

input {
    &.input-search {
        border-radius: 0;
    }
}
.form-search {
    width: 100%;
    display: block;
    position: relative;
    .input-group {
        width: 400px;
    }
}

.btn {
    &.btn-search {
        padding: 3px 10px;
        font-size: 14px;
        color: $font-light;
        border: none;
        border-radius: 0;
        background-color: $primary-blue;
        &:hover{
            background-color: lighten($primary-blue, 5%);
        }
    }
}