@charset "UTF-8";

a {
  color: #2c9faf;
}

a:hover {
  color: #34adbd;
}

.progress-bar {
  background-color: #34adbd;
}

.login-page {
  background: #ffffff;
  background-size: cover;
  position: fixed;
  height: 100%;
  width: 100%;
}

.login-page .container-fluid {
  height: 100%;
  padding: 0;
}

.login-page .container-fluid .row {
  height: 100%;
}

.login-box {
  background-color: rgba(255, 255, 255, 0.84);
  height: 100%;
}

.login-box h4 {
  font-size: 16px;
  font-weight: 500;
}

.login-box form.user {
  margin-top: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

@media only screen and (max-width: 480px) {
  .login-box form.user {
    width: 100%;
  }
}

.login-box form .form-control {
  background: none;
  color: #313131;
}

.login-box form .form-control-user {
  border-radius: 0;
  border: none;
  border-bottom: 1px solid rgba(70, 70, 70, 0.712);
}

.login-box form .form-control-user:focus {
  box-shadow: none;
}

.login-box form .btn-login {
  border-radius: 0;
  background-color: #2c9faf;
  font-size: 15px;
  font-weight: 500;
}

.login-box form .btn-login:hover {
  background-color: #36aab9;
}

.login-logo {
  position: relative;
  display: block;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 20px;
}

.login-logo img {
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
  display: block;
}

.sidebar-brand img {
  max-width: 160px;
  max-height: 36px;
}

.merchant-logo img {
  margin-top: 15px;
  max-width: 160px;
  max-height: 36px;
}

.bg-gradient-primary {
  background: #ffffff;
}

.sidebar-light .nav-item.active .nav-link, .sidebar-light .nav-item:hover .nav-link {
  border-left: 5px solid #2c9faf;
  background-color: #F5F7F9;
  color: #2c9faf;
}

.sidebar-light .nav-item.active .nav-link i, .sidebar-light .nav-item:hover .nav-link i {
  color: #2c9faf;
}

.sidebar-light .nav-item .nav-link {
  font-size: 16px;
  border-left: 5px solid #fff;
}

h1.title-page {
  color: #2c9faf;
  font-weight: 600;
  border-bottom: 1px solid #cccccc;
}

p.sub-title-page {
  color: #a8a8a8;
  font-weight: 300;
  font-size: 12px;
}

@media only screen and (min-width: 481px) and (max-width: 1366px) {
  p.sub-title-page {
    font-size: 11px;
  }
}

form input.form-control, form textarea.form-control {
  font-size: 14px;
}

form label {
  color: #313131;
  font-size: 14px;
  font-weight: 600;
}

form label span {
  font-size: 12px;
  font-weight: 300;
}

form .btn-form-default {
  background-color: #0B5EAA;
  color: #eaeaea;
  border-radius: 0;
  font-size: 16px;
  padding: 5px 50px;
}

.btn.btn-form-default {
  background-color: #0B5EAA;
  color: #eaeaea;
  border-radius: 0;
  font-size: 16px;
  padding: 5px 30px;
}

form .btn-form-default:hover {
  background-color: #0d6bc2;
  color: #eaeaea;
}

.btn.btn-form-default:hover {
  background-color: #0d6bc2;
  color: #eaeaea;
}

.btn.btn-form-info {
  background-color: #2c9faf;
  color: #eaeaea;
  border-radius: 0;
  font-size: 16px;
  padding: 5px 20px;
}

.btn.btn-form-info:hover {
  background-color: #37a9b8;
  color: #eaeaea;
}

.btn.btn-form-reset {
  background-color: #b9b9b9;
  color: #3b3b3b;
  border-radius: 0;
  font-size: 16px;
  padding: 5px 20px;
}

.btn.btn-form-reset:hover {
  background-color: #c7c7c7;
  color: #3b3b3b;
}

.btn.outline-white {
  background: none;
  color: #ffffff;
  border-radius: 0;
  font-size: 16px;
  border: 1px solid #fff;
  padding: 5px 20px;
}

.btn.outline-white:hover {
  background-color: rgba(255, 255, 255, 0.153);
}

.card {
  border-radius: 0;
  box-shadow: -2px 2px 2px 0px #2c9faf;
  -webkit-box-shadow: -2px 2px 2px 0px #2c9faf;
  -moz-box-shadow: -2px 2px 2px 0px #2c9faf;
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item {
  border: 1px solid #ffffff00;
  margin-bottom: 3px;
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item.active, .sidebar .nav-item .collapsing .collapse-inner .collapse-item.active, .sidebar .nav-item .collapse .collapse-inner .collapse-item:hover {
  color: #2c9faf;
  font-weight: 700;
  border-color: #2c9faf;
  background-color: #fff;
}

.open-ticket .card {
  border-radius: 0;
  border: none;
}

.open-ticket .card h3 {
  font-size: 20px;
  font-weight: 600;
  color: #313131;
  margin-bottom: 30px;
}

.card-header:first-child {
  border-radius: 0;
}

.card-header {
  background-color: #2c9faf;
}

.card-header h6 {
  color: #eaeaea;
}

.card-body h4 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  color: #313131;
}

.card-body p {
  margin: 0;
  font-size: 14px;
  color: #313131;
  font-weight: 400;
}

.card-body.box-filter {
  padding: 0;
}

.card-body.box-filter .header-box-filter {
  padding: 15px;
  background-color: #ebebeb;
}

.card-body.box-filter .header-box-filter p {
  font-size: 16px;
  font-weight: 600;
  color: #313131;
}

@media only screen and (min-width: 481px) and (max-width: 1366px) {
  .card-body.box-filter .header-box-filter p {
    font-size: 14px;
  }
}

.card-body.box-filter .header-box-filter p i {
  font-size: 16px;
  font-weight: 600;
  color: #313131;
}

@media only screen and (min-width: 481px) and (max-width: 1366px) {
  .card-body.box-filter .header-box-filter p i {
    font-size: 14px;
  }
}

.card-body.box-filter .body-box-filter {
  transition: all 0.2s ease-in-out;
}

.card-body.box-filter .body-box-filter .list-group {
  border-radius: 0;
}

.card-body.box-filter .body-box-filter .list-group a {
  color: #313131;
  background-color: #fff;
}

.card-body.box-filter .body-box-filter .list-group a.list-group-item {
  padding: 10px 15px;
  border: none;
  border-bottom: 1px solid #e6e6e6;
  font-size: 14px;
}

@media only screen and (min-width: 481px) and (max-width: 1366px) {
  .card-body.box-filter .body-box-filter .list-group a.list-group-item {
    font-size: 12px;
  }
}

.card-body.box-filter .body-box-filter .list-group a.list-group-item:last-child {
  border-bottom: none;
}

.card-body.box-filter .body-box-filter .list-group a.active, .card-body.box-filter .body-box-filter .list-group a:hover {
  background-color: #2c9faf;
  color: #eaeaea;
  transition: all 0.2s ease-in-out;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .2s;
}

.fade-enter-active, .fade-leave-active .loader {
  z-index: 999;
  display: block;
}

.fade-enter, .fade-leave-to
/* .fade-leave-active below version 2.1.8 */

  {
  opacity: 0;
}

.fade-enter, .fade-leave-to .loader {
  display: none;
}

.ticket-list table {
  position: relative;
  width: 100%;
  border: 1px solid #eaeaea;
}

.ticket-list table thead {
  background-color: #2c9faf;
  color: #eaeaea;
}

.ticket-list table tr th {
  font-size: 14px;
  vertical-align: middle;
}

.ticket-list table tr td {
  vertical-align: middle;
}

@media only screen and (min-width: 481px) and (max-width: 1366px) {
  .ticket-list table tr th {
    font-size: 12px;
  }
}

.ticket-list table tr td {
  font-size: 13px;
}

@media only screen and (min-width: 481px) and (max-width: 1366px) {
  .ticket-list table tr td {
    font-size: 12px;
  }
}

.ticket-list table tr td p {
  font-size: 13px;
}

@media only screen and (min-width: 481px) and (max-width: 1366px) {
  .ticket-list table tr td p {
    font-size: 12px;
  }
}

.ticket-list table tr td .name {
  font-weight: 600;
}

.priority-status {
  font-size: 12px;
  font-weight: 600;
}

.priority-status::before {
  content: "\2022";
  margin-right: 6px;
}

#detail-ticket .btn-go-back {
  display: block;
  width: 100%;
  padding: 7px;
  text-align: center;
  color: #eaeaea;
  background-color: #2c9faf;
  margin-bottom: 15px;
}

#detail-ticket .btn-go-back:hover {
  background-color: #0d73d0;
}

#detail-ticket .btn-close-ticket {
  display: block;
  width: 100%;
  padding: 7px;
  text-align: center;
  color: #eaeaea;
  background-color: #c9302c;
  margin-bottom: 15px;
}

#detail-ticket .btn-close-ticket:hover {
  background-color: #d74b47;
}

#detail-ticket .card {
  border: 1px solid #eaeaea;
}

#detail-ticket .card.t-side-bar .img-closed {
  width: 100%;
  height: 100%;
  z-index: 9999;
  position: absolute;
}

#detail-ticket .card.t-side-bar .img-closed img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  opacity: 0.5;
}

#detail-ticket .card.t-side-bar .card-header {
  background-color: #d8d8d8;
  color: #313131;
  padding: 10px 20px;
  border-radius: 0;
}

#detail-ticket .card.t-side-bar .card-header p {
  margin: 0;
}

#detail-ticket .card.t-side-bar .card-body {
  position: relative;
}

#detail-ticket .card.t-side-bar .card-body .ticket-status {
  display: block;
  margin-top: 10px;
}

#detail-ticket .card.t-side-bar .card-body .ticket-status .badge {
  font-size: 14px;
  padding: 5px 10px;
  margin-right: 20px;
}

#detail-ticket .card.t-side-bar .card-body .ticket-status .priority-status {
  float: right;
  font-size: 14px;
}

#detail-ticket .card.t-side-bar .card-body .ticket-date {
  margin-top: 10px;
}

#detail-ticket .card.t-side-bar .card-body .ticket-date p {
  font-size: 12px;
  font-weight: 300;
}

#detail-ticket .card.t-side-bar .card-body .ticket-date p span {
  float: right;
  font-weight: 600;
}

#detail-ticket .card.t-side-bar .card-body .ticket-info {
  margin-top: 10px;
  padding: 5px 15px;
  border-bottom: 1px solid #d6d6d6;
}

#detail-ticket .card.t-side-bar .card-body .ticket-info .label-info {
  font-size: 12px;
  font-weight: 400;
}

#detail-ticket .card.t-side-bar .card-body .ticket-info .value-info {
  font-size: 14px;
  font-weight: 600;
  color: #313131;
}

#detail-ticket .card.t-side-bar .card-body .ticket-info-v2 {
  padding: 0;
}

#detail-ticket .card.t-side-bar .card-body .ticket-info-v2 .label-info {
  font-size: 12px;
  font-weight: 400;
}

#detail-ticket .card.t-side-bar .card-body .ticket-info-v2 .value-info {
  font-size: 14px;
  font-weight: 400;
  color: #313131;
}

#detail-ticket .card.t-side-bar .card-body .ticket-attactment {
  padding: 0;
}

#detail-ticket .card.t-side-bar .card-body .ticket-attactment .attactment {
  font-size: 13px;
  font-weight: 300;
  display: block;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media only screen and (min-width: 481px) and (max-width: 1366px) {
  #detail-ticket .card.t-side-bar .card-body .ticket-attactment .attactment {
    font-size: 12px;
  }
}

@media only screen and (max-width: 480px) {
  #detail-ticket .card.t-side-bar .card-body .ticket-attactment .attactment {
    font-size: 11px;
  }
}

#detail-ticket .card.t-side-bar .card-body .ticket-attactment .no-attactment {
  font-size: 12px;
  font-weight: 300;
  color: #a8a8a8;
  font-style: italic;
}

#detail-ticket .card.t-content {
  margin-bottom: 5px;
}

#detail-ticket .card.t-content .card-header {
  padding: 10px;
  border-radius: 0;
}

#detail-ticket .card.t-content .card-header .card-inner-header {
  padding: 5px;
  display: table;
}

#detail-ticket .card.t-content .card-header .card-inner-header .avatar, #detail-ticket .card.t-content .card-header .card-inner-header .name, #detail-ticket .card.t-content .card-header .card-inner-header .date {
  display: table-cell;
  padding-right: 10px;
  vertical-align: middle;
}

#detail-ticket .card.t-content .card-header .card-inner-header .avatar .avatar-inner {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #fff;
  text-align: center;
}

#detail-ticket .card.t-content .card-header .card-inner-header .avatar .avatar-inner h2 {
  font-size: 18px;
  color: #666;
  display: block;
  margin: auto;
  font-weight: 700;
  margin-top: 7px;
}

#detail-ticket .card.t-content .card-header .card-inner-header .avatar .avatar-inner img {
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}

#detail-ticket .card.t-content .card-header .card-inner-header .name p {
  font-size: 14px;
  font-weight: 600;
  color: #313131;
  margin: 0;
}

#detail-ticket .card.t-content .card-header .card-inner-header .date p {
  font-size: 12px;
  font-style: italic;
  font-weight: 300;
  vertical-align: middle;
  margin: 0;
}

#detail-ticket .card.t-content .card-body {
  padding-top: 5px;
  color: #313131;
}

#detail-ticket .card.t-content .card-body img {
  display: block;
  max-width: 100%;
}

#detail-ticket .card.t-content .card-body-inner .email {
  margin: 0;
  font-style: italic;
  margin-bottom: 15px;
  font-size: 12px;
}

#detail-ticket .card.card-admin .card-header {
  background-color: rgba(226, 195, 132, 0.31);
  border: 1px solid rgba(226, 195, 132, 0.31);
}

#detail-ticket .card .btn-reply {
  float: right;
}

#profile h3, #profile h4, #profile p, #profile i, #profile a {
  margin: 0;
  padding: 0;
}

#profile .avatar-profile {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 250px;
  height: 250px;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #eaeaea;
  overflow: hidden;
}

@media only screen and (min-width: 481px) and (max-width: 1366px) {
  #profile .avatar-profile {
    width: 180px;
    height: 180px;
  }
}

#profile .avatar-profile img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

#profile .info-profile .info-p-list {
  display: table;
  width: 100%;
}

#profile .info-profile .info-p-list .label {
  display: table-cell;
  width: 144px;
}

#profile .info-profile .info-p-list .value {
  display: table-cell;
}

#profile .info-profile .info-p-list .value p {
  color: #313131;
  font-weight: 600;
}

#profile h3 {
  margin-bottom: 15px;
}

#profile p.role {
  padding: 3px 10px;
  border-radius: 5px;
  font-size: 12px;
}

#profile p.role.owner {
  color: #eaeaea !important;
  display: inline;
  background-color: #a3a3a3 !important;
}

#profile .btn.btn-edit-p {
  margin-top: 20px;
  display: block;
  width: 100%;
  background-color: #2c9faf;
  color: #eaeaea;
  border-radius: 0;
  font-size: 16px;
  padding: 5px 50px;
}

@media only screen and (min-width: 481px) and (max-width: 1366px) {
  #profile .btn.btn-edit-p {
    font-size: 13px;
  }
}

#profile .btn.btn-edit-p:hover {
  background-color: #0d6bc2;
  color: #eaeaea;
}

.tabel-result {
  width: 100%;
  position: relative;
  display: block;
  margin-bottom: 20px;
  overflow: auto;
}

.tabel-result .tabel-content {
  width: 100%;
  transition: all 0.2s ease-in-out;
}

.tabel-result.isload .loader {
  z-index: 999;
  display: block;
}

.tabel-result.isload .tabel-content {
  filter: blur(5px);
  -webkit-filter: blur(5px);
  opacity: 0.3;
}

.loader {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease-in-out;
}

.loader .lds-facebook {
  display: inline-block;
  position: relative;
  width: 400px;
  height: 80px;
}

.loader .lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #2c9faf;
  -webkit-animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.loader .lds-facebook div:nth-child(1) {
  left: 8px;
  -webkit-animation-delay: -0.24s;
  animation-delay: -0.24s;
}

.loader .lds-facebook div:nth-child(2) {
  left: 32px;
  -webkit-animation-delay: -0.12s;
  animation-delay: -0.12s;
}

.loader .lds-facebook div:nth-child(3) {
  left: 56px;
  -webkit-animation-delay: 0;
  animation-delay: 0;
}

@-webkit-keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}

@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}

.loader .lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.loader .lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #2c9faf;
  -webkit-animation-timing-function: cubic-bezier(0, 1, 1, 0);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.loader .lds-ellipsis div:nth-child(1) {
  left: 8px;
  -webkit-animation: lds-ellipsis1 0.6s infinite;
  animation: lds-ellipsis1 0.6s infinite;
}

.loader .lds-ellipsis div:nth-child(2) {
  left: 8px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
  animation: lds-ellipsis2 0.6s infinite;
}

.loader .lds-ellipsis div:nth-child(3) {
  left: 32px;
  -webkit-animation: lds-ellipsis2 0.6s infinite;
  animation: lds-ellipsis2 0.6s infinite;
}

.loader .lds-ellipsis div:nth-child(4) {
  left: 56px;
  -webkit-animation: lds-ellipsis3 0.6s infinite;
  animation: lds-ellipsis3 0.6s infinite;
}

@-webkit-keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@-webkit-keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.loader .lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.loader .lds-roller div {
  -webkit-animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.loader .lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #666;
  margin: -4px 0 0 -4px;
}

.loader .lds-roller div:nth-child(1) {
  -webkit-animation-delay: -0.036s;
  animation-delay: -0.036s;
}

.loader .lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.loader .lds-roller div:nth-child(2) {
  -webkit-animation-delay: -0.072s;
  animation-delay: -0.072s;
}

.loader .lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.loader .lds-roller div:nth-child(3) {
  -webkit-animation-delay: -0.108s;
  animation-delay: -0.108s;
}

.loader .lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.loader .lds-roller div:nth-child(4) {
  -webkit-animation-delay: -0.144s;
  animation-delay: -0.144s;
}

.loader .lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.loader .lds-roller div:nth-child(5) {
  -webkit-animation-delay: -0.18s;
  animation-delay: -0.18s;
}

.loader .lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.loader .lds-roller div:nth-child(6) {
  -webkit-animation-delay: -0.216s;
  animation-delay: -0.216s;
}

.loader .lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.loader .lds-roller div:nth-child(7) {
  -webkit-animation-delay: -0.252s;
  animation-delay: -0.252s;
}

.loader .lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.loader .lds-roller div:nth-child(8) {
  -webkit-animation-delay: -0.288s;
  animation-delay: -0.288s;
}

.loader .lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@-webkit-keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.tabel-content {
  transition: all 0.2s ease-in-out;
}

.smooth-transition {
  transition: all 0.2s ease-in-out;
}

.modal-body .error-msg .hints p, .modal-body .error-msg p {
  color: #c9302c;
  font-size: 12px;
  font-weight: 400;
}

input.input-search {
  border-radius: 0;
}

.form-search {
  width: 100%;
  display: block;
  position: relative;
}

.form-search .input-group {
  width: 400px;
}

.btn.btn-search {
  padding: 3px 10px;
  font-size: 14px;
  color: #eaeaea;
  border: none;
  border-radius: 0;
  background-color: #0B5EAA;
}

.btn.btn-search:hover {
  background-color: #0d6bc2;
}

table img.img-ontable {
  max-width: 80px;
  max-height: 80px;
}

.debug-box {
  width: 100%;
  word-wrap: break-word;
  margin-bottom: 10px;
  padding: 5px;
  max-height: 250px;
  overflow-y: auto;
  resize: none;
  background: #eaeaea;
}

table.tabel-transaksi, table.tabel-transaksi thead, table.tabel-transaksi tbody, table.tabel-transaksi tr, table.tabel-transaksi tr td, table.tabel-transaksi tr th {
  border: none;
}

table.tabel-transaksi tr td, table.tabel-transaksi tr th {
  padding: 3px 10px;
  font-size: 10pt;
  color: #313131;
}

.list-item-trx h6 {
  font-size: 10pt;
  font-weight: 600;
  color: #313131;
}

.list-item-trx p {
  color: #313131;
  font-size: 10pt;
  line-height: 1.3;
}

.list-item-trx p.deskripsi {
  font-size: 8pt;
  line-height: 1.3;
}

tr.loading td, tr.loading th {
  opacity: 0.8;
  filter: blur(2px);
  transition: all 0.2s ease-in-out;
}

tbody {
  transition: all 0.2s ease-in-out;
}

.event-title .logo img {
  width: 100%;
  max-width: 200px;
  max-height: 120px;
}

.event-title {
  border-bottom: 1px solid #e4e1e1;
  padding: 15px 0 10px;
}

.event-title b {
  color: #222;
}

.event-title h1 {
  font-size: 45px;
  font-weight: 600;
  color: #222;
}

.detail-info p {
  padding: 0;
  margin: 0;
  font-size: 12px;
  color: #666;
}

.detail-info b {
  color: #222;
}

.no-start {
  float: right;
}

.no-start p {
  font-size: 16px;
}

.no-start p b {
  font-size: 20px;
}

.no-start .box-no-start {
  width: 140px;
  padding: 20px 0;
  border: 3px solid #c9302c;
}

.no-start h3 {
  font-family: 'Bebas Neue', cursive;
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 60px;
  font-weight: 700;
  color: #222;
}

.title-row {
  display: block;
  padding: 8px 20px;
  color: #222;
  background-color: #d8d8d8c2;
}

.title-row p {
  font-size: 18px;
  font-weight: 600;
}

.info-item {
  padding: 15px 20px 5px;
  border-bottom: 1px solid rgb(235, 235, 235);
}

p.lokasi-event {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 600;
  color: #222;
}

h1.event-title-big {
  font-family: 'Bebas Neue', cursive;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #2c9faf;
  border-color: #2c9faf;
}

.page-link {
  color: #2c9faf;
}

.page-link:hover {
  color: #2c9faf;
}

.event-info-item {
  padding: 7px 20px;
  color: #222;
  border-bottom: 1px solid #ececec;
  margin-bottom: 10px;
}

.event-info-item p {
  margin: 0;
  padding: 0;
}

.event-info-item p.title {
  font-size: 10pt;
  font-weight: 400;
  color: rgb(129, 129, 129);
}

.event-info-item p.value {
  font-size: 12pt;
  font-weight: 600;
}

.progress-bar-card {
  display: block;
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
}

.progress-bar-card .progress{
  border-radius: 0;
}
.card.is-load .card-body {
  opacity: 0.8;
  filter: blur(2px);
  transition: all 0.2s ease-in-out;
}
.img-profile {
  width: 100%;
  display: block;
}
.img-profile img {
  display: block;
  margin: auto;
  max-width: 250px;
}
.info-profile {
  padding: 40px;
  border-left: 1px solid #eeeeee;
}
.profile-item {
  padding: 15px 20px 7px;
  border-bottom: 1px solid #eeeeee;
}
.profile-item p{
  margin: 0;
  padding: 0;
}
.profile-item p.label{
  font-size: 10pt;
  font-weight: 400;
  color: #666;
}
.profile-item p.value{
  color: #222;
  font-size: 12pt;
  font-weight: 600;
}
p.dash-eventlist-title {
  color: #222;
  font-size: 12pt;
  font-weight: 600;
}
p.dash-eventlist-code {
  color: #222;
  font-size: 10pt;
  font-weight: 700;
}
p.dash-eventlist-tgl, p.dash-eventlist-loc {
  color: #222;
  font-size: 9pt;
  font-weight: 300;
}
.dash-logo-event {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  padding: 30px;
}
.dash-logo-event img {
  max-width: 160px;
  max-height: 70px;
}