/*!
 * By Muntaha Syahroni

*/

body{
    min-height: 100vh;
}
body .container-fluid{
    z-index: 999;
}
.login-bg {
    position: absolute;
    z-index: -9;
    height: 100%;
    width: 100%;
    background-color:transparent;
    background-image: url("../img/BG.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;   
    filter: blur(8px);
    -webkit-filter: blur(8px);
}
.form-control, .btn{
    border-radius:0px!important;
}
.btn{
    border-radius:0px!important;
}
.box-login{
    background:rgba(255, 255, 255, 0.877);
    padding:40px;
    max-width: 600px;
    width: calc(100% - 40px);
    min-width: 440px;
    box-shadow: 0 2px 6px rgba(0,0,0,.2);
}
.box-content{
    background:rgb(255, 255, 255);
    box-shadow: 0 2px 6px rgba(0,0,0,.2);
}
.box-payment-selection {
    padding: 50px;
}
.box-list-cart {
    background-color:rgba(238, 238, 238, 0.767);
    height: 100%;
    padding: 50px;
}
.box-list-cart h4 {
    padding-bottom: 10px;
    border-bottom: 1px solid #a7a7a7;
}
.box-login p{
    color: #3f3f3f;
    margin: 0;
    line-height: 1.5;
    font-weight: 400;
}
.box-login p.sub-title-login{
    font-size: 10pt;
}
.box-login h3.sign-in{
    color: #3f3f3f;
    margin: 0;
    line-height: 1.3;
    font-weight: 600;
    font-size: 24px;
}
.box-login form label {
    color: #3f3f3f;
}
.box-login form input {
    border: none;
    background: none;
    border-bottom:solid 1px #a7a7a7 ; 
    color:  #3f3f3f;
}
.box-login form input:focus{
    border: none;
    background: none;
    box-shadow: none;
    border-bottom:solid 1px #a7a7a7 ; 
}
.box-login form .btn-login{
    background-color: #004793;
    padding: 7px 30px;
    color: #fafafa;
    font-weight: 400;
}
.box-checkout{
    margin:30px;
    background:rgba(255, 255, 255, 0.8);
    padding:20px;
    outline:10px solid rgba(255, 255, 255, 0.5);
    max-height: 800px;
    overflow-y: auto;
}
.thumb-img{
    width: 100px;
}
.item-table{
    height: 600px;;
}

.innerToken{
    padding:10px;
    margin:10px;
}

.tokenList[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
.tokenList[type=radio]:hover + div.innerToken:hover {
    outline: 2px solid #1765e3;
  }

.tokenList[type=radio] + div.innerToken {
    cursor: pointer;
}

.tokenList[type=radio]:checked + div.innerToken {
    outline: 2px solid #1765e3;
    background:#78a6f0;
}
.tokenList[type=radio]:not(:checked) + div.innerToken {
    outline: 2px solid transparent;
    background:#eaeaea;
}
#preAction{
    text-align:center;
}
.debug-box{
    width: 100%;
    word-wrap: break-word;
    margin-bottom:10px;
    padding:5px;
    max-height:250px;
    overflow-y: auto;
    resize:none;
    background:#eaeaea;
}
.tokenListDiv{
    width: 100%;
    height: 500px;
    overflow-y: auto;
}
.form-group{
    margin-bottom:2px;
}

.nav{
    background: #00000047;
    padding: 20px;
}
.nav-link{
    color:#cccbcb;
}
label{
    margin-bottom:2px!important;
}
.alert-login {
    max-width: 360px;
}
.alert-login p{
    font-size: 14px;
    line-height: 1.1;
    margin-bottom: 3px;
}
.button-login-box {
    display: flex;
    justify-content: flex-end;
}